#bg {
    background-attachment: fixed;
    display:block;
    boarder-radius: 0px;
    padding:0px;
    margin:0px;
    max-width: 105%;
    height: auto;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#logo {
    max-width: 100%; /* Set the maximum width to 100% */
    height: auto;    /* Let the height adjust automatically */
    /* Additional styles if needed */
}

.header {
    overflow: hidden;
    background-color: #698796;
    padding: 5px ;
  }
  
  .header a{
    height: 40px;
    float: left;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px ;
    text-decoration: none;
    padding: 12px ;
  
  } 
  
  
  .header a:hover{
    color: 	#d1e6e7;
  }
  
  .header a.active {
    color: 	#698796;
    background-color: #f8f8f8;
  }
  
  .header-right{
    float: right;
    margin: 12px;
  }
  
  .float-right{
    float: right;
    margin: 12px;
  }

  .float-left{
    float: left;
    margin: 12px;

  }

  #h1{
    font-family: Arial, Helvetica, sans-serif;
  }